name: Sphinx docs build

on:
  push:
    branches: [ "main" ]
    paths:
      - '.github/workflows/build_sphinx.yml'
      - 'src/**'
      - 'docs/**'
      - 'files/**'

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Set up Python 3.11
        run: uv python install 3.11

      - name: Build docs
        run: make doc
