name: Sphinx docs

on:
  push:
    branches: [ "release" ]
    paths:
      - '.github/workflows/sphinx.yml'
      - 'src/**'
      - 'docs/**'
      - 'files/**'

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Set up Python 3.11
        run: uv python install 3.11

      - name: Build docs
        run: make doc

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html/
          force_orphan: true
