name: Tests

on:
  push:
    branches: [ "main", "release"]
    paths:
      - '.github/workflows/test.yml'
      - 'src/**'
      - 'tests/**'
      - 'Makefile'
      - 'pyproject.toml'
      - 'uv.lock'
  pull_request:
    branches: [ "main", "release"]
    paths:
      - '.github/workflows/test.yml'
      - 'src/**'
      - 'Makefile'
      - 'pyproject.toml'
      - 'uv.lock'
  schedule:
    - cron: "5 0 * * 1"

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      API_KEY: ${{ secrets.API_KEY }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Test
        run: make tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{github.workspace}}/coverage/coverage.xml
          fail_ci_if_error: true
          verbose: true
